---
layout: default
---

<article class="post">

  <header class="post-header">
    {%- if page.image -%}
      {%- if page.image != 'default' -%}
        <img src="{{- page.image | relative_url -}}" alt="" class="header-image">
      {%- else -%}
        {% assign default-image = "/assets/default-image-pages.jpg" %}
        <img src="{{- default-image | relative_url -}}" alt="" class="header-image">
      {%- endif -%}
    {%- endif -%}
    <!-- The heading is enough, I don't want to see the 'title' in addition
    <h1 class="post-title">{{ page.title | escape }}</h1>
    -->
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- if page.author -%}
      by {{ page.author }}
    {%- endif -%}
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
